:root {
  --main-bg-color: hsl(220, 24%, 10%);
  --anchor-color: hsl(210, 100%, 45%);
  --anchor-hover-color: hsl(210, 100%, 35%);
  --article-topic-badge-bg-color: hsl(56, 100%, 92%);
  --article-topic-badge-border-color: hsl(60, 60%, 59%);
  --error-message-bg-color: hsl(0, 100%, 80%);
  --error-message-border-color: hsl(0, 100%, 60%);
  --table-header-bg-color: hsl(210, 40%, 48%);
  --data-source-status-bg-color: hsl(210, 50%, 30%);
  --h1-color: hsl(220, 11%, 95%);
  --input-placeholder-color: hsl(221, 13%, 59%);
  --input-placeholder-focus-visible-color: hsl(221, 13%, 78%);
  --input-bg-color: hsl(221, 22%, 14%);
  --general-border-radius: 0.25rem;
  --general-border-width: 0.0625rem;
  --general-color: hsl(219, 13%, 79%);
}

body {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 12pt;
  line-height: 1.45em;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--general-color);
  min-height: 100vh;

  /*Only large viewports should restrict the max-width,*/
  /*otherwise mobile is not wide enough!*/
  @media (width >= 1200px) {
    max-width: 50vw;
  }
}

h1 {
  color: var(--h1-color);
}

a {
  text-decoration: none;
  color: var(--anchor-color);
}

a:hover {
  color: var(--anchor-hover-color);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table tr {
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr:hover {
  background-color: #e0e0e0;
}

table th {
  background-color: var(--table-header-bg-color);
  color: #ffffff;
  text-align: center;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table td {
  padding-left: 1em;
}

div.main-content {
  margin-right: 0.7em;
  margin-left: 0.7em;
}

footer {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

span.article-topic-badge {
  background-color: var(--article-topic-badge-bg-color);
  border: 1px solid var(--article-topic-badge-border-color);
  border-radius: 5px;
  margin-left: 0.25em;
  padding: 0px 0.4em 1px 0.4em;
  font-size: 0.8em;
  vertical-align: middle;
  white-space: nowrap;
}

form.login {
  margin-top: 3em;
}

p.error-response {
  background-color: var(--error-message-bg-color);
  border-left: 4px solid var(--error-message-border-color);
  padding: 0.6em;
  margin: 2em auto 1em auto;
  color: black;
}

@media (width >= 1200px) {
  p.error-response {
    max-width: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p.error-response {
  animation: fadeIn 0.5s ease-in-out;
}

form input {
  margin-bottom: 1em;
  margin-left: 1.2em;
  background-color: var(--input-bg-color);
  border: var(--general-border-width) solid #2a3140;
  border-radius: var(--general-border-radius);
  font-size: 1rem;
  padding: 0.75rem 1rem;
  color: var(--h1-color);
  transition:
    outline-width 0.5s 0s ease-in-out,
    background-color 0.5s 0s ease-in-out;
}

form input:focus-visible {
  outline: 2px solid var(--anchor-color);
  border-radius: 3px;
  background-color: transparent;
}

input::placeholder {
  color: var(--input-placeholder-color);
  opacity: 0.8;
}

input:focus-visible::placeholder {
  opacity: 1;
  color: var(--input-placeholder-focus-visible-color);
}

button {
  cursor: pointer;
}

button.auth-btn {
  min-width: 10em;
  background-color: var(--anchor-hover-color);
  border-radius: var(--general-border-radius);
  border: var(--general-border-width) solid var(--anchor-hover-color);
  color: var(--h1-color);
  text-align: center;
  text-decoration: none;
  padding: 0.75rem 1rem;
  transition:
    background-color 0.5s 0s ease-in-out,
    border 0.5s 0s ease-in-out;
}

button.auth-btn:hover {
  background-color: var(--anchor-color);
  border: var(--general-border-width) solid var(--anchor-color);
}

.box-flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
}

button.data-sources-btn {
  padding: 0.2em 0.4em 0.2em 0.4em;
  min-width: 10em;
}

span.data-source-status {
  animation: fade-in-status 2s infinite;
}

@keyframes fade-in-status {
  50% {
    opacity: 0;
  }
}

span.data-source-status::before {
  border-radius: 1rem;
  display: inline-block;
  background-color: var(--data-source-status-bg-color);
  width: 0.75em;
  height: 0.75em;
  content: "";
}
