:root {
  --anchor-color: hsl(210, 100%, 45%);
  --anchor-hover-color: hsl(210, 100%, 35%);
  --article-topic-badge-bg-color: hsl(56, 100%, 92%);
  --article-topic-badge-border-color: hsl(60, 60%, 59%);
}

body {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 12pt;
  line-height: 1.45em;
  margin: 0 auto;
}

/*Only large viewports should restrict the max-width,*/
/*otherwise mobile is not wide enough!*/
@media (width >= 1200px) {
  body {
    max-width: 50vw;
  }
}

a {
  text-decoration: none;
  color: var(--anchor-color);
}

a:hover {
  color: var(--anchor-hover-color);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table tr {
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr:hover {
  background-color: #e0e0e0;
}

table th {
  background-color: #567ca1;
  color: #ffffff;
  text-align: center;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table td {
  padding-left: 1em;
}

div.main-content {
  margin-right: 0.7em;
  margin-left: 0.7em;
}

footer {
  text-align: center;
  margin-top: 2em;
}

span.article-topic-badge {
  background-color: var(--article-topic-badge-bg-color);
  border: 1px solid var(--article-topic-badge-border-color);
  border-radius: 5px;
  margin-left: 0.25em;
  padding: 0px 0.4em 1px 0.4em;
  font-size: 0.8em;
  vertical-align: middle;
  white-space: nowrap;
}

.login {
  margin-top: 3em;
  /*background-color: hsl(50, 10%, 58%);*/
}

p.error-response {
  background-color: hsl(0, 100%, 95%);
  border-left: 4px solid hsl(0, 100%, 80%);
  padding: 0.6em;
  margin: 2em auto 1em auto;
}

@media (width >= 1200px) {
  p.error-response {
    max-width: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p.error-response {
  animation: fadeIn 0.5s ease-in-out;
}

form input {
  margin-bottom: 1em;
  margin-left: 1.2em;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
